header{
    height: 200px;
    background-color: #EDC58E;
}
aside{
    height: 200px;width: 20%;
    background-color: #926a33;
    float: left;
}
section{
    height: 200px;width: 80%;
    background-color: #815415;
    float: left;
}
footer{
    height: 200px;
    background-color: #5d4626;
    clear: both;
}
.post{
    text-align: 100px;
    padding: 10px;
    float: left;
}